@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url(menu.css);

:root {
    /* colors */
    --main: #F9B572;
    --second: #F2C57A;
    --ascent: #EFC65C;
    --bg: #F1F2E9;
    --error: #ff6060;
    --black: #000000;
    --white: #ffffff;
    --trans-white: rgba(255, 255, 255, .5);


    /*additional*. */
    --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);


    /* font size */
    --hero: 6.25rem;
    --header: 2.25rem;
    --small-header: 1.5rem;
    --label: 1.875rem;
    --small-label: 1.25rem;
    --content: 1.125rem;
    --small-content: 1rem;

}

section {
    min-height: 100lvh;
    background-color: var(--bg);
    display: flex;
    align-items: center;
}

.wrap {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

/*dropdown list*/
.custom-select {
    position: relative;
    width: max-content;
    padding: 0 15px;
}

.custom-select select {
    display: none;

}

.select-selected {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 40px;
}

.select-selected:after {
    position: absolute;
    content: "expand_more";
    font-family: 'Material Icons';
    right: calc(0px - 70px);
    transition: .2s;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: var(--black);
    font-size: calc(var(--small-content) * 4 );
    cursor: pointer;
    user-select: none;
}

.select-items div{
    font-size: var(--label);
    padding: 5px 10px;
}
/*style items (options):*/
.select-items {
    top: 110%;
    left: 0;
    right: 0;

    position: absolute;
    background-color: var(--white);
    padding: 15px 15px;
    border-radius: 10px;

    z-index: 99;
    color: var(--black);
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}


/*Search bar*/
.search-bar {
    display: flex;
    align-items: center;
    gap: 65px;

    padding: 15px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.year-input-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px
}

.input-name{
    font-size: var(--small-label);
    color: var(--black);
}

.input-box::placeholder{
    font-size: var(--small-content);
}

.input-box{
    padding: 10px 15px;
    border: 2px solid var(--black);
    border-radius: 4px;
    width: 175px;
    transition: .2s;
}

.input-box:focus{
    border-color: var(--main);
}


/*data dashboard*/
.dashboard {
    margin-top: 15px;
    width: 100%;
    display: flex;
    gap: 15px;
}

.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.box-container,
.table-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    padding: 20px 20px;
    width: 100%;
    height:auto;

    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    color: var(--black);
    
}

.content-container .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.title{
    font-size: var(--header);
}

.label{
    font-size: var(--small-label);
}

.content {
    font-size: var(--content);
}

/*graph*/

.graph{
    width: 100%;
    height: 100%;
}
