@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


:root {
    /* colors */
    --main: #F9B572;
    --second: #F2C57A;
    --ascent: #EFC65C;
    --bg: #F1F2E9;
    --error: #ff6060;
    --black: #000000;
    --white: #ffffff;
    --trans-white: rgba(255, 255, 255, .5);

    /*additional*. */
    --box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    /* font size */
    --hero: 6.25rem;
    --header: 2.25rem;
    --small-header: 1.5rem;
    --label: 1.875rem;
    --small-label: 1.25rem;
    --content: 1.125rem;
    --small-content: 1rem;

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.material-icon {
    font-family: 'Material Icons';
    color: var(--black);
    font-size: 24px;
}

.mobile {
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.logo a {
    font-size: 25px;
    color: var(--main);
    font-family: 'Jockey One', sans-serif;

}

/*hamburger menu*/
.hamburger-menu {
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bar,
.bar:after,
.bar:before {
    width: 20px;
    height: 3px;
}

.bar {
    position: relative;
    transform: translateY(0px);
    background: var(--black);
    transition: all 0ms 300ms;
}

.bar.animate {
    background: var(--trans);
}

.bar:before {
    content: "";
    width: 25px;
    position: absolute;
    left: 0;
    bottom: 7px;
    background: var(--black);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    background: var(--black);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 15px;
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    background: var(--black);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), width 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 25px;
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    background: var(--black);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 25px;
}

/*nav menu*/

.mobile-nav.hide {
    opacity: 1;
    left: -100%;
    transition: opacity .3s ease-in-out, left .2s ease-in-out;
}

.mobile-nav.show {
    left: 35px;
    opacity: 1;
}

.mobile-nav {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);

    width: max-content;
    height: 80vh;

    display: flex;
    align-items: center;
    padding: 2.5rem 1.25rem;

    transition: .4s ease-in-out;
    z-index: 1;

    border-radius: 10px;
    background-color: var(--trans-white);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
}



/*dropdown menu*/
.dropdown {
    width: 100%;
}

.dropbtn {
    gap: 50px;
}

.top-nav,
.mobile-nav ul,
.bottom-nav {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.mobile-nav ul {
    width: 100%;
    height: 100%;
    ;
    justify-content: space-between;
}

.mobile-nav ul li {
    display: flex;
}

.mobile-nav ul li a,
.dropbtn {
    font-size: var(--small-header);
    color: var(--black);
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}

/*dropdown Menu*/
.dropbtn,
.bottom-nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    border: none;
    width: 100%;

}

.dropdown-content {
    display: none;
    width: 0;
    transform: width .2s ease-in-out;

}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.dropdown .material-icon {
    transition: .2s ease-in-out;
}

.dropdown:hover .material-icon {
    transform: rotate(180deg);
}

.dropdown-content a {
    font-size: var(--content) !important;
    display: block;
    transition: .3s ease-in-out;
}

/*bottom section */

.bottom-nav a {
    padding: 10px 15px;
}

.bottom-nav .material-icon {
    font-size: 2rem;
}



/*scrollbar*/
*::-webkit-scrollbar-track {
    background-color: #F9CA8C;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #b9b8b8;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffa600;
    border-radius: 20px;
}


@media (hover: hover) {

    ul li a:hover,
    .bottom-nav li a:hover span {
        color: var(--white);
    }

    .top-nav li:nth-child(1) a:hover {
        background-color: var(--main);
    }

    .top-nav li:nth-child(2) a:hover {
        background-color: var(--second);
    }

    .dropdown-content a:nth-child(1):hover {
        background-color: var(--ascent);
    }

    .dropdown-content a:nth-child(2):hover {
        background-color: var(--second);
    }

    .bottom-nav li:nth-child(1) a:hover {
        background-color: var(--ascent);
    }

    .bottom-nav li:nth-child(2) a:hover {
        background-color: var(--error);
    }
}

@media screen and (max-width: 450px) {
    .mobile {
        top: 20px;
        left: 20px;
        gap: 00px;

    }

    .logo {
        position: fixed;
        right: 50%;
        transform: translate(50%, 0);
    }

    .mobile-nav {

        width: 100%;
        height: 100vh;

        padding: 5vw 1.25rem 2.5rem 1.25rem;

        transition: .4s ease-in-out;
        z-index: 1;

        border-radius: 0px;
        background-color: var(--trans-white);
        box-shadow: 0 0 black;
        backdrop-filter: blur(20px);
    }

    .mobile-nav.show {
        left: 0;
    }

    .mobile-nav ul li a,
    .dropbtn {
        font-size: calc(var(--header) - .25rem);
        padding: 15px 15px;
    }
}