@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --main: #F9B572;
    --second: #F2C57A;
    --ascent: #EFC65C;
    --bg: #F1F2E9;
    --error: #FF7474;

}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}